@model Admin.Models.ViewModels.AuthorityVM
@{
    ViewBag.Title = "AddElements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Lägg till attribut</h2>
    <hr />

    @using (@Html.BeginForm("SetElements", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.HiddenFor(model => Model.Id)

            <div class="row">
                <div class="form-group col-md-12">
                    <br />
                    <a href="#" onclick="AddHour(@Model.Id)" id="deleteItem" class="deleteItem" data-id="@Model.Id" data-target="#addDialog" data-toggle="modal" data-path="@Url.Action("Add", "Admin", new { id = Model.Id })">Tryck för att lägga till ny öppettid</a>

                </div>
            </div>
            @if (Model.Hours.Count != 0)
            {
                <div class="row">

                    @Html.Label("Sparade öppettider:", htmlAttributes: new { @class = "control-label" })<br /><br />

                    @foreach (var hour in Model.Hours)
                    {
                        @Html.HiddenFor(model => hour.Id)

                        <div class="form-group col-md-4">
                            <b>@Html.DisplayNameFor(model => hour.Name)</b> <br />
                            @Html.DisplayFor(model => hour.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Beskrivning" } })
                            <br />
                            <b>@Html.Label("Öppettid")</b> <br />
                            <p>
                                @Html.DisplayFor(model => hour.Open, new { htmlAttributes = new { @class = "form-control", @placeholder = "Öppnar" } })
                                -
                                @Html.DisplayFor(model => hour.Close, new { htmlAttributes = new { @class = "form-control", @placeholder = "Stänger" } })
                            </p>
                            <a href="#" onclick="EditHour(@hour.Id)" id="deleteItem" class="deleteItem" data-id="@hour.Id" data-target="#editDialog" data-toggle="modal" data-path="@Url.Action("Edit", "Admin", new { id = hour.Id, authid = hour.Authority_Id})">Ändra öppettid/beskrivning</a>
                            <br />
                            <a href="@Url.Action("DeleteHour", "Admin", new { id = hour.Id, authId = hour.Authority_Id })" style="color:red">Ta bort öppettid</a>

                        </div>
                    }

                </div>

            }

            <hr />
            <div class="row">
                <div class="form-group col-md-4">
                    <br />

                    <a href="#" onclick="AddNumber(@Model.Id)" id="deleteItem" class="deleteItem" data-id="@Model.Id" data-target="#addDialog" data-toggle="modal" data-path="@Url.Action("Add", "Admin", new { id = Model.Id })">Tryck för att lägga till ett nytt nummer</a>

                </div>
            </div>
           
            @if (Model.Numbers.Count != 0)
            {
                <div class="row">

                    @Html.Label("Sparade telefonnummer:", htmlAttributes: new { @class = "control-label" })<br /><br />

                    @foreach (var number in Model.Numbers)
                    {
                        @Html.HiddenFor(model => number.Id)

                        <div class="form-group col-md-4">

                            <b>@Html.DisplayNameFor(model => number.Name)</b> <br />
                            @Html.DisplayFor(model => number.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Beskrivning" } })
                            <br />
                            <b>@Html.DisplayNameFor(model => number.Number1)</b> <br />
                            @Html.DisplayFor(model => number.Number1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Öppnar" } })
                            <br />
                            <a href="#" onclick="EditNumber(@number.Id)" id="deleteItem" class="deleteItem" data-id="@number.Id" data-target="#editDialog" data-toggle="modal" data-path="@Url.Action("Edit", "Admin", new { id = number.Id })">Ändra nummer/beskrivning</a>
                            <br />
                            <a href="@Url.Action("DeleteNumber", "Admin", new { id = number.Id, authId = number.Authority_Id })" style="color:red">Ta bort nummer</a>

                        </div>
                    }

                </div>

            }

            <hr />

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.Label("Ladda upp bild:", htmlAttributes: new { @class = "control-label" })<br /><br />
                    <img id="blah" src="#" /><br /><br />
                    <input type="file" value="Ladda upp bild" name="image1" id="image1" onchange="readURL(this)" />

                </div>
            </div>

            <hr />

            <br />
            <div class="row">
                <div class="form-group col-md-12">
                    <input type="submit" value="Uppdatera" class="btn btn-success" id="btnElements" />
                </div>
            </div>

        </div>

    }

    <div>
        <hr />
        @Html.ActionLink("Återgå till listan av aktörer", "ListAuthorities")
    </div>

</div>

<div class="modal fade" id="editDialog" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="deleteLabel">Redigera</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDialog" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="deleteLabel">Lägg till</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(100)
                    .height(100);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    var EditNumber = function (id) {
        $.ajax({

            type: "GET",
            url: "/Admin/EditNumber",
            data: { Id: id },
            success: function (response) {
                $(".modal-body").html(response);
                $("#editDialog").modal("show");
            }
        });
    };

    var EditHour = function (id) {
        $.ajax({

            type: "GET",
            url: "/Admin/EditHour",
            data: { Id: id },
            success: function (response) {
                $(".modal-body").html(response);
                $("#editDialog").modal("show");
            }
        });
    };

    var AddHour = function (id) {
        $.ajax({

            type: "GET",
            url: "/Admin/AddHour",
            data: { Id: id },
            success: function (response) {
                $(".modal-body").html(response);
                $("#addDialog").modal("show");
            }
        });
    };

    var AddNumber = function (id) {
        $.ajax({

            type: "GET",
            url: "/Admin/AddNumber",
            data: { Id: id },
            success: function (response) {
                $(".modal-body").html(response);
                $("#addDialog").modal("show");
            }
        });
    };

</script>


