@model IEnumerable<Admin.Models.ViewModels.AuthorityVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <br />
    <table class="table table-striped table-hover table-sm" id="listusers">
        <thead class="table-head">
            <tr>
                <th scope="col">
                    Logo
                </th>
                <th scope="col">
                    Namn
                </th>
                <th scope="col">
                    Adress
                </th>
                <th scope="col">
                    Postnummer
                </th>
                <th scope="col">
                    Stad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="DataSearching">
            @foreach (var item in Model)
            {
            <tr>
                <td class="table-row">
                    <img src="@Url.Action("Show", "Admin", new { id = item.Id } )" />
                </td>
                <td class="table-row">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="table-row">
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td class="table-row">
                    @Html.DisplayFor(model => item.Zipcode)
                </td>
                <td class="table-row">
                    @Html.DisplayFor(model => item.City)
                </td>
                <td class="table-row">
                    @Html.ActionLink("Redigera", "EditAuthority", new { id = item.Id }) |
                    <a href="#" onclick="DeleteAuthority(@item.Id)" id="deleteItem" class="deleteItem" data-id="@item.Id" data-target="#deleteDialog" data-toggle="modal" data-path="@Url.Action("Delete", "Admin", new { id = item.Id })">Ta bort</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="deleteLabel">Bekräfta borttagning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var DeleteAuthority = function (id) {
        $.ajax({

            type: "GET",
            url: "/Admin/DeleteAuthority",
            data: { Id: id },
            success: function (response) {
                $(".modal-body").html(response);
                $("#deleteDialog").modal("show");
            }
        });
    };
</script>